.cartWidget {
	display: flex;
	align-items: center;
	color: black;

}
.cartWidget2{

	color: black;
}

.material-symbols-outlined{
	color: black;
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48

}

.color{
	color: black;
}