.containerCarro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.containerListado{
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 8px;
    font-size: 20px;

}
.button1{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid #c2c2c2;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-style: solid;
    font-weight: bold;
}
.button1:hover{
    box-shadow: 0px 0px 6px 2px #ccc;
    background-color: white;
    color: black;
}

.button2{
    width:300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid #c2c2c2;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-style: solid;
    font-weight: bold;
}
.button2:hover{
    box-shadow: 0px 0px 6px 2px #ccc;
    background-color: white;
    color: black;
}
.button3{
    width:300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(5, 158, 15);
    color: rgb(255, 255, 255);
    border: 1px solid #c2c2c2;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-style: solid;
    font-weight: bold;
}
.button3:hover{
    box-shadow: 0px 0px 6px 2px #ccc;
    background-color: white;
    color: rgb(5, 158, 15);
}


.img {
    display: flex;
    justify-content: center;
      width: 150px;
      height: 100px;
  }
    
  .img:hover {  box-shadow: 0px 0px 6px 2px #ccc;
    }

.texto{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: large;
    color: black;
}

.link{
    margin-top: 40px;
    color: blue;
}
.link:hover{
    color: rgb(195, 140, 13);
}