.imgLogo {
	height: 10rem;
	width: 10rem;
}
.imgLogo1 {
	height: 10rem;
	width: 10rem;
	padding-right: 8rem;
}

.barraSuperior {
	padding: 3 1rem 2rem 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: white;
}

.button{
	text-align: center;
	display: flex;
	justify-content: flex-end;
	
}